.iconLoading {
  animation: spinner 1s linear infinite;
}
.search {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 361px;
  height: 46px;
  background-color: rgba(22, 24, 35, 0.06);
  border-radius: 92px;
  // padding: 0px 16px;
  padding-left: 16px;
  border: 1.5px transparent;
  input {
    height: 100%;
    color: var(--black);
    font-size: 1.6rem;
    border: none;
    background-color: transparent;
    outline: none;
    caret-color: var(--primary-color);
  }
  .search-icon {
    position: absolute;
    right: 30%;
  }

  input:not(:placeholder-shown) ~ .search-btn {
    background-color: rgb(221, 221, 221);
  }
  &:focus-within {
    border: 1.5px solid rgba(22, 24, 35, 0.2);
  }
}

@keyframes spinner {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.search-result {
  width: 361px;
}
.search-btn {
  width: 52px;
  height: 100%;
  border-bottom-right-radius: 92px;
  border-top-right-radius: 92px;
  opacity: 0.7;
  margin: -4px 0;
  &:hover {
    opacity: 1;
  }
  &:active {
    background: rgba(22, 24, 35, 0.06);
  }
}

.clear {
  background-color: transparent;
  padding-top: 5px;
}
.line {
  transform: translateX(56px);
  width: 1px;
  height: 28px;
  margin: -3px 0;
  background: rgba(22, 24, 35, 0.12);
}
