.wrapper {
  display: flex;
  align-items: center;
  padding: 9px 16px;
  cursor: pointer;
  &:hover {
    background: rgba(22, 24, 35, 0.03);
  }
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: contain;
}

.info {
  flex: 1;
  margin-left: 12px;
}

.name {
  font-size: 1.6rem;
  font-weight: 500;
}

.username {
  font-size: 1.4rem;
}
.icon {
  background-color: transparent;
  color: rgb(32, 213, 236);
  font-size: 1.2rem;
}
